* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color:#ddd
}

h2{
  margin: bottom 0;
}

.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}
.navbar h1 {
  margin-bottom: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}
.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin: 0 0 0 0
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  
}
.card-content {
  padding: 15px;
  max-height: 270px;  /* Slightly less than card-body to account for padding */
  overflow-y: auto;
  
}
.hero-list.collapsed .card-body {
  max-height: 0;
}
.hero-grid {
  display: flex;
  flex-wrap: wrap;
}
.hero-item {
  width: 80px;
  height: 80px;
  background-color: #ddd;
}

.hero-card {
  width: 80px;
  height: 80px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}
.hero-link:hover .hero-name {
  opacity: 1;
}
.hero-card:hover {
  transform: translateY(-5px);
}

.hero-card-list{
  padding:0px
}

.hero-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  padding: 2px;
  text-align: center;
  word-break: break-word;
}

.hero-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.selected-hero {
  padding: 10px;
  display: flex;
  align-items: center;
}
.hero-portrait {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  margin-right: 15px;
}
.tag {
  
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  color: white;
}
.tag-summoner { background-color: #00bcd4; }
.tag-intelligence { background-color: #e91e63; }
.tag-range { background-color: #ff9800; }

.information-grid {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.skill-table {
  margin-bottom:30px
}
.toggle-icon {
  transition: transform 0.3s ease;
}
.hero-list.collapsed .toggle-icon {
  transform: rotate(-180deg);
}

.filters {
  margin-bottom: 16px;
}

