* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ddd;
}

h2 {
  margin-bottom: 0;
}

.navbar {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar h1 {
  margin-bottom: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: visible;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.card-content {
  padding: 15px;
  max-height: 270px;
  overflow-y: auto;
}

.hero-list.collapsed .card-body {
  max-height: 0;
}

.hero-grid {
  display: flex;
  flex-wrap: wrap;
}

.hero-item {
  width: 80px;
  height: 80px;
  background-color: #ddd;
}

.hero-card {
  width: 80px;
  height: 80px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hero-link:hover .hero-name {
  opacity: 1;
}

.hero-card:hover {
  transform: translateY(-5px);
}

.hero-card-list {
  padding: 0px;
}

.hero-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  padding: 2px;
  text-align: center;
  word-break: break-word;
}

.hero-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.hero-container{
  display: flex;
  background-color: DodgerBlue;
}
.hero-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


.selected-hero {
  padding: 10px;
}

.hero-intro {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.hero-icon-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.hero-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  margin: 0 0 10px 0;
}

.hero-description {
  margin: 0;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  color: white;
}

.tag-summoner { background-color: #00bcd4; }
.tag-intelligence { background-color: #e91e63; }
.tag-range { background-color: #ff9800; }

.information-grid {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.skill-table {
  margin-bottom: 30px;
}

.toggle-icon {
  transition: transform 0.3s ease;
}

.hero-list.collapsed .toggle-icon {
  transform: rotate(-180deg);
}

.filters {
  margin-bottom: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.filters {
  margin-left: 20px ;  
  margin-top: auto ;  
  margin-bottom: auto ;  
  align-items: center;
  flex-grow: 1;
}

.toggle-icon {
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.info-content {
  flex: 1;
  min-width: 50%;
  padding-right: 15px;
}

.info-chart {
  flex: 1;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats-chart {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

.keyword-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
  overflow: visible;
}

.keyword {
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  cursor: help;
  position: relative;
  display: inline-block;
}

.keyword::after {
  content: attr(data-description);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
  pointer-events: none;
}

.keyword:hover::after {
  opacity: 1;
  visibility: visible;
}

.tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
  pointer-events: none;
}

.hovercard {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  max-width: 300px;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .info-content, .info-chart {
      min-width: 100%;
  }

  .info-content {
      padding-right: 0;
      margin-bottom: 20px;
  }
  .card-header {
    padding: 8px;
  }
  .card {
    margin-bottom: 10px;
  }
  .card-content {
    padding: 10px;
  }
}